In [6]:
import sqlite3
import pandas as pd

# اتصال به فایل دیتابیس
conn = sqlite3.connect('../sql/churn_project.db')  # چون مسیر دیتابیس توی پوشه sql هست

In [7]:
# نمایش ۵ رکورد اول
query = "SELECT * FROM telco_data LIMIT 5;"
df = pd.read_sql_query(query, conn)
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [8]:
conn = sqlite3.connect('../sql/churn_project.db')

In [9]:
import sqlite3
import pandas as pd

# اتصال به دیتابیس
conn = sqlite3.connect('../sql/churn_project.db')
# نوشتن کوئری SQL به صورت رشته
query = "SELECT AVG(MonthlyCharges) AS avg_monthly_charge FROM telco_data;"

# اجرای کوئری با pandas
df_avg = pd.read_sql_query(query, conn)

# نمایش نتیجه
print("میانگین مبلغ پرداختی ماهانه:")
print(df_avg)

میانگین مبلغ پرداختی ماهانه:
   avg_monthly_charge
0           64.761692

In [10]:
query = """
SELECT Contract, 
       COUNT(*) AS Total_Customers,
       SUM(CASE WHEN Churn = 'Yes' THEN 1 ELSE 0 END) AS Churned_Customers,
       ROUND(
         SUM(CASE WHEN Churn = 'Yes' THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2
       ) AS Churn_Percentage
FROM telco_data
GROUP BY Contract;
"""

df_churn = pd.read_sql_query(query, conn)
df_churn

         Contract  Total_Customers  Churned_Customers  Churn_Percentage
0  Month-to-month             7750               3310             42.71
1        One year             2946                332             11.27
2        Two year             3390                 96              2.83

In [12]:
import os

# ساخت پوشه output اگر وجود نداشت
os.makedirs('../output', exist_ok=True)

In [13]:
# حالا ذخیره فایل‌ها
df_avg.to_csv('../output/avg_monthly_charge.csv', index=False)
df_churn.to_csv('../output/churn_by_contract.csv', index=False)

In [14]:
import os

print(os.path.exists('../output/avg_monthly_charge.csv'))
print(os.path.exists('../output/churn_by_contract.csv'))

True
True